.Phonetics {
    margin-bottom: 20px;
}

.Phonetics a {
    text-decoration: none;
    color: #61dafb;
    margin-right: 10px;
    transition: all 150ms ease-in-out;
}

.btn {
    background-color: #333;
    padding: 4px 5px;
    border: 1px solid #333;
    border-radius: 4px;
}

.Phonetics a:hover {
    color:#333;
    background-color: #fff;
    border: 1px solid #61dafb;
}